/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Poppins:wght@500;800&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

/* first container part */
/* main{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.container{

    width: 1100px;
    height: 543px;
    background: #161616;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 90px;
   margin-left: 120px;
}
.sub-container{
    display: flex;
}

.short-discription{
 width: 400px;
height: 424px;
margin-top: 40px;
margin-left: 90px;
}

.discription-first{

    color: white;
    font-size: 46px;
}

.discription-sec{
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
}
.button {
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 5px;
    background-image: linear-gradient(#DD0000,#DD0000);
    color: white;
    font-weight: 500px;
    
}


.image-section img{

    width: 471px;
height: 513px;
margin-top: 30px;
margin-left: 40px;
}

/* animation use */

.image-section :hover{

    position: relative;
    animation: sliding 1s ease-in-out 0.5s 10 alternate;
    animation-play-state: running;
}
/* .image-section:hover{

    transform: rotate(-180deg);
} */

@keyframes sliding {
    from {

        left: 0;
    }

    to {
        left: 100px;

    }
}
/* animation end */
/* first part end */

/* secound-part  start*/

.container-second{
    display: flex;
}

.side-nav, .blogs {
    float: left;
}
aside{
    background-color: black;
    width: 300px;
height: 300px;
    margin-left: 120px;
   margin-right: 20px;
   border-radius: 13px;
   margin-bottom: 100px;
   /* margin-top: 18px; */
}

.blogs{
    background-color: white;
 width: calc(100% - 300px);

 margin-right: 120px;
}
.button-side{

   margin-top: 60px;
   margin-left: 25px;

}
.button-first{
    margin-bottom: 60px;
}

.button-first-design{
    text-decoration: none;
    padding: 13px 26px;
    border-radius: 7px;
    background-color: aliceblue;
    color: black;
    font-weight: 500px;
   
    
}
.button-second-design{
    text-decoration: none;
    padding: 13px 58px;
    border-radius: 7px;
    background-color: aliceblue;
    color: black;
    font-weight: 500px;
}

.button-third-design {
    text-decoration: none;
    padding: 13px 77px;
    border-radius: 5px;
    background-image: linear-gradient(#DD0000,#DD0000);
    color: white;
    font-weight: 500px;
    
}

/* blog part */
.container-second{
    margin-bottom: 100px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.transfer{
    padding-left: 0;
    padding-right: 20px;
    width: 237px;
    box-shadow:10px 6.34229px 100.3557px #E8E8E8;
    border-radius: 15px;
}

.transfer .transfer-banner img{
    width: 254px;
    height: 160px;
}
.transfer-detail{

    margin-top: 20px;
    margin-left: 20px;
}

.transfer-title{

    font-size: 15px;
}
.transfer-button{
    text-decoration: none;
    padding: 4px 20px;
    border-radius: 7px;
    background-color: aliceblue;
    color: black;
    font-weight: 500px;
    border: 1px solid black;
   
}
.transfer-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fa-comment-dots{

    font-size: 20px;
}

/* blog part end */


/* footer part start */
.footer-title {
    background-color: black;
    color:white;
    text-align: center;
    width: 100%;
height: 344px;
padding-top: 60px;

margin-left: 0;

}
.foot-text{
    font-size: 35px;

}

hr{
    border: 1px solid gray;
    margin-bottom: 27px;
    width: 1120px;
}
.menu{
    margin-left: 200px;
}

nav li{
    list-style: none;
    margin-left: 35px;
}

nav li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

nav>ul{
    display: flex;
}

.social{

    margin-top: 60px;
}
.icon{
   margin-right: 10px;
}
.fa-facebook-square{
    font-size: 40px;

}

.fa-instagram-square{
    font-size: 40px;
   
    
}
.fa-twitter-square{
    font-size: 40px;
}
.fa-whatsapp-square{
    font-size: 40px;
}
